body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f0f4f8;
    color: #001f3f;
}

input {
    width: 50px;
    border: 2px solid #001f3f;
    background-color: #e6ecf2;
    color: #001f3f;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #ffffff;
}

td {
    border: 3px solid #001f3f;
    padding: 10px;
    text-align: center;
    color: #001f3f;
}
